{% extends "base.jinja" %}
{% block title %}Accreditation{% endblock %}

{% block contents %}
<h2>Accreditation</h2>
<img src="images/accreditation.jpg" />
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}