{% extends "base.jinja" %}
{% block title %}Accreditations{% endblock %}

{% block heading %}
    <h1><small>Accreditations</small></h1>
{% endblock heading %}

{% block contents %}
<img src="images/accreditation.jpg" />
<img id="sfep-accreditation" src="images/sfep-entry-retina.png" />
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}