{% extends "base.jinja" %}
{% block title %}Accreditation{% endblock %}

{% block contents %}
<h2>Accreditation</h2>
<img src="images/accreditation.jpg" />
<img id="sfep-accreditation" src="images/sfep-entry-retina.png" />
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}