<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <!-- <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css"> -->
    <!-- <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-lite.min.css">    -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-sucroa.min.css">
    <!-- <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Punctilio - {% block title %}{% endblock %}</title>

    <style>
        body{
            background-image: linear-gradient(#ddadad, #820303);
        }

        h1{
            font-size: 38pt;
        }

        h1 small{
            font-size: 14pt;
        }

        #demonstration{
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .secondary{
            padding: 0;
        }

    </style>

</head>

<body>

    <!--
Business Name is Punctilio,

Tel No: 07507 359510,
Email:info@ Punctilio.co.uk,
Website: www. Punctilio.co.uk.

Services are
* manuscripts,
* business publications,
* website content,
* student dissertations,
* funeral eulogies,
* letters,
* C.Vs,
* application forms.

The moto/catchphrase is, get it right, first time and every time.

-->

<header class="sticky row">
        <button>Logo</button>
        <a href="index.html"><button>Home</button></a>
        <a href="testimonials.html"><button>Testimonials</button></a>
        <a href="accreditation.html"><button>Accreditation</button></a>
        <ul>
            <li>Essex based.</li>
            <li>Tel No: 07507 359510</li>
        </ul>
        <ul>
            <li>Email: info@Punctilio.co.uk</li>
            <li>www.Punctilio.co.uk.</li>
        </ul>
</header>

<div class="container">
    <div class="row cols-sm-12 cols-md-10">
        <div class="col-md-offset-1">
            <br />
            <h1>Punctilio <small>Get it right, first time and every time.</small></h1>
            <hr>
            {% block contents %}
            {% endblock contents %}
        </div>
    </div>
</div>

{% block modals %}
{% endblock modals %}


<footer>
    <div class="col-sm col-md-10 col-md-offset-1">
        <ul>
            <li>Essex based.</li>
            <li>Tel No: 07507 359510</li>
            <li>Email: info@Punctilio.co.uk</li>
            <li>www.Punctilio.co.uk.</li>
        </ul>
    </div>
</footer>

{% block page_scripts %}
{% endblock page_scripts %}

</body>

</html>
