{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block page_css %}
<style>
#request-a-quote-modal-title{
    display: inline;
}
</style>
{% endblock page_css %}

{% macro request_quote_modal() %}
  {# Using a macro for this so that we can keep it out of the way of the
     main content, but also so that clicking the modal and then closing it
     leaves the user scrolled to where they were.
   #}
<div style="text-align:center"><br/>
    <input id="request-a-quote-toggle" type="checkbox"/>
    <div class="modal" style="text-align:initial;">
        <div class="card fluid">
            <div class="section">
                <img class="logo-nav" src="images/punctilio-white.png" alt="punctilio logo">
                <h3 id="request-a-quote-modal-title" class="section double-padded">Request a quote</h3>
                <label for="request-a-quote-toggle" class="close"></label>
            </div>
            <form class="section">
                <fieldset>
                    <div class="input-group vertical">
                        <label for="manuscript-type">Document type</label>
                        <select id="manuscript-type">
                            <option>manuscript</option>
                            <option>business publication</option>
                            <option>website content</option>
                            <option>student dissertation</option>
                            <option>funeral eulogy</option>
                            <option>letter</option>
                            <option>application form</option>
                            <option>C.V.</option>
                            <option>other</option>
                        </select>
                    </div>
                    <div class="input-group vertical">
                        <label for="manuscript-size">Size</label>
                        <input type="text" size="50" value="" id="manuscript-size" placeholder="Approximate size in words">
                    </div>
                    <div class="input-group vertical">
                        <label for="quote-contact-details">Contact details</label>
                        <input type="text" size="50" value="" id="quote-contact-details" placeholder="Name, phone-number">
                    </div>
                    <div class="input-group vertical">
                        <label for="quote-deadline-required">Deadline required</label>
                        <input type="text" size="50" value="" id="quote-deadline-required" placeholder="None or date">
                    </div>
                </fieldset>
            </form>
            <div class="section double-padded">
                <!-- In reality this will probably be part of the form and likely caught by
                    Javascript which may well then send the mail itself, or something, not sure what -->
                <label id="send-quote-request-button" class="button primary" for="request-a-quote-toggle">Submit</label>
            </div>
            <br/>
        </div>
    </div>
</div>

{% endmacro %}


{% block heading %}
    <img class="logo-title" src="images/punctilio-maroon.png" alt="larger punctilio logo"></img>
    <h1><small>Get it right, first time and every time.</small></h1>
{% endblock heading %}
{% block contents %}
<p>
Punctilio offers a professional proofreading service; we aim to ensure that your message it is communicated correctly and as intended.
We can help with lengthy journals and manuscripts as well as one page letters and promotional leaflets.
Students will find our services take rereading coursework or a dissertation to new level: fresh, trained eyes to pick up spelling, grammar or clarity revisions before you submit.
Punctilio specialises in checking website content: protecting your sales against potential users being discouraged by mistakes at this crucial, front of house stage.
Both ongoing contracts and one-off jobs are are accepted.
Punctilio always provides high standards of customer service, adapting our methods to suit the client's requirements and deadline.

</p>
<h2>Proofreading Services</h2>
    <p>
        <ul id="services-list">
            <li>manuscripts,</li>
            <li>business publications,</li>
            <li>website content,</li>
            <li>student dissertations,</li>
            <li>funeral eulogies,</li>
            <li>letters,</li>
            <li>application forms,</li>
            <li>C.V.s</li>
            <li>proofreading services</li>
            <li>online proofreading</li>
            <li>English proofreading</li>
            <li>proofread my essay</li>
            <li>proofread my paper</li>
            <li>essay proofreader</li>
            <li>professional proofreading</li>
            <li>proofreading website</li>
            <li>academic proofreading</li>
            <li>paper proofreader</li>
            <li>dissertation proofreading</li>
            <li>proofreading English</li>
            <li>essay grammar check</li>
            <li>eproofreading help</li>
        </ul>
    </p>

    <hr>
    <h2>Request a Quote</h2>
    <div id="request-with-sfep-logo">
        <label class="button primary large" for="request-a-quote-toggle">Request a quote</label><br/><br/>
    </div>
    <!-- Or <a href="mailto:info@punctilio.co.uk">email info@punctilio.co.uk</a>. -->

    {{ request_quote_modal() }}
    <hr>
    <h2>Why is proofreading essential?</h2>
    <div id="demonstration">
        <div class="card">
            <h3>Before</h3>
            <div class="">
                <p>
                    <mark class="secondary">Their</mark> is much <mark class="secondary">which</mark> can go wrong and make your work look sub<mark class="secondary">-</mark>standard. Professional <mark class="secondary">P</mark>roofreading means that<mark class="secondary">&nbsp;</mark>&nbsp;you can be sure<mark class="secondary">&nbsp;</mark>&nbsp;<mark class="secondary">you&rsquo;re</mark> output has been checked for punctuation errors, spelling mistakes, grammar, factual inaccuracies, page <mark class="secondary"><span style="display: font-size: small;">referencing</span></mark> and layout errors<mark class="secondary">&nbsp;</mark>&nbsp;You can go to print knowing that your best work is complete<mark class="secondary">&nbsp;</mark>&nbsp; right<mark class="secondary">. F</mark>irst time and <mark class="secondary">everytime</mark>.
                </p>
            </div>
        </div>
        <div class="card">
            <h3>After</h3>
            <div class="">
                <p>
                    There is much that can go wrong and make your work look substandard. Professional proofreading means that, you can be sure, your output has been checked for punctuation errors, spelling mistakes, grammar, factual inaccuracies, page referencing and layout errors. You can go to print knowing that your best work is completely right, first time and every time.
                </p>
            </div>
        </div>
    </div>

{% endblock contents %}


{% block page_scripts %}
<script type="text/javascript">
/* global $ */
$(document).ready(function(){

    $('#send-quote-request-button').click(function(){
        var main_text = (
            "Manuscript type: " + $('#manuscript-type').val() +
            "\n\nApproximate size: " + $('#manuscript-size').val() +
            "\n\nContact details: " + $('#quote-contact-details').val() +
            "\n\nDeadline required: " + $('#quote-deadline-required').val()
            );
        var params = {
            subject: 'Quote request',
            body: main_text
        };
        var url = 'mailto:info@punctilio.co.uk?' + $.param(params);
        window.open(url);
    });
});
</script>
{% endblock page_scripts %}