{% extends "base.jinja" %}
{% block title %}Testimonials{% endblock title %}

{% block heading %}
    <h1><small>Testimonials</small></h1>
{% endblock heading %}

{% block contents %}
<p>
    <ul id="testimonial-list">
        <li>
            <blockquote cite="Penny Sutton. Industry Hair Ltd. https://www.industryhair.co.uk/">
I would highly recommend this company.
I received a highly professional proof reading of my website by Sharon at Punctilio.
Fast, reliable and trusted service.
Thank you for helping me show off my website with confidence.
            </blockquote>
        </li>
    </ul>
</p>
<hr>
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}