{% extends "base.jinja" %}
{% block title %}Testimonials{% endblock title %}

{% block heading %}
    <h1><small>Testimonials</small></h1>
{% endblock heading %}

{% block contents %}
<p>
    <ul id="testimonial-list">
        <li>
            <blockquote cite="Penny Sutton. Industry Hair Ltd. https://www.industryhair.co.uk/">
I would highly recommend this company.
I received a highly professional proof reading of my website by Sharon at Punctilio.
Fast, reliable and trusted service.
Thank you for helping me show off my website with confidence.
            </blockquote>
        </li>
                <li>
            <blockquote cite="Kirsty Bell www.myhappyjournal.com">
I will never publish anything without Sharon's assistance 😊. Over the last few weeks Sharon's assistance has been absolutely invaluable to me, her work ethic, gentle way of making suggestions on amendments without making me feel like a total twit has been phenomenal. She is a joy to work with. I am a creative by trade and have never been confident about my writing skills, grammar or spelling. Working with Sharon has given me the confidence that what I have put out to world circulation is correct and if I choose, the ultimate in English language rules 😊 I can not recommended her services highly enough.
Please note, in order to keep this unbiased, I have not asked Sharon to proof read it for me, so please forgive any errors!
            </blockquote>
        </li>
        <li>
            <blockquote cite="Lee Robinson">
                Very good, and in-depth proof read of my case study, worth every penny. One very happy customer.
            </blockquote>
        </li>
    </ul>
</p>
<hr>
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}