{% extends "base.jinja" %}
{% block title %}Testimonials{% endblock %}

{% block contents %}
<h2>Testimonials</h2>
<p>
    <ul>
        <li>Fast, efficent, and correct. -- Anonymous</li>
    </ul>
</p>
<hr>
{% endblock contents %}


{% block page_scripts %}
{% endblock page_scripts %}